{% extends "schadensrechnung/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


    <!-- ======= Contact Section ======= -->
    <section id="services" style="margin-top:35px;" class="contact section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Versandetikett</h2>
                <h4 style="color: orange;"> Warte auf Download...</h4>
                <p>Das Download von dem Etikett wird automatisch gestartet. Sollte es länger als 20 sek. dauert, drücken Sie bitte auf "Download erneut".</p>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="{% url 'download_sendung' %}" method="POST" class="php-email-form_new" id="downloading_form">
                        {% csrf_token %}
                        <input type="hidden" name="Auftrag_id" id="Auftrag_id" value="{{Auftrag_id}}">
                        <input type="hidden" name="Adresszeile" id="Adresszeile" value="{{Adresszeile}}">
                        <input type="hidden" name="Hausnummer" id="Hausnummer" value="{{Hausnummer}}">
                        <input type="hidden" name="Stadt" id="Stadt" value="{{Stadt}}">
                        <input type="hidden" name="Postleitzahl" id="Postleitzahl" value="{{Postleitzahl}}">
                        <input type="hidden" name="email" id="email" value="{{ email }}">
                        <input type="hidden" name="vorname_nachname" id="vorname_nachname" value="{{ vorname_nachname }}">
                        <div class="text-center"><button type="submit">Download erneut</button></div>
                    </form>
                </div>

            </div>

        </div>
        <div class="container" data-aos="fade-up" style="margin-top:30px;">

        <div class="section-title" style="text-align: left;">
                <p>Nach Abschluss Ihrer Reparaturanfrage auf "fixmeinhandy.at" erhalten Sie ein kostenloses Versandetikett. Dieses Etikett ermöglicht es Ihnen, Ihr beschädigtes Smartphone sicher und ohne zusätzliche Kosten an uns zu senden. Bitte drucken Sie das Etikett aus und kleben Sie es gut sichtbar auf Ihr Paket. Stellen Sie sicher, dass Ihr Handy gut verpackt ist, um weitere Schäden während des Transports zu vermeiden. Sobald Ihr Gerät bei uns eintrifft, beginnen wir umgehend mit der Reparatur und senden es Ihnen nach Abschluss zurück.</p>
             
        </div>

    </div>
    </section>


<script>
    console.log('submitting...');
    document.getElementById("downloading_form").submit();
</script>

{% endblock content %}