{% extends "schadensrechnung/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    /* Apply responsive styles */
    @media screen and (max-width: 600px) {
        .table-responsive {
            overflow-x: auto;
        }
    }
</style>



<section id="services" class="contact section-bg" style="margin-top:35px;">
    <div class="container" data-aos="fade-up">

        <div class="section-title" style="text-align: left;">
            <h2 style="text-align: center;"> <strong>My Orders</strong></h2>
            <div class="table-responsive">
                <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Marke</th>
                  <th scope="col">Model</th>
                  <th scope="col">Schadensart</th>
                  <th scope="col">kosten</th>
                  <th scope="col">Telefon</th>
                  <th scope="col">Adresse</th>
                  <th scope="col">Auftrag_status</th>
                  <th scope="col">Zeit</th>
                  <th scope="col">PDF Label</th>
                </tr>
              </thead>
              <tbody>
              {% for order in my_order %}
                <tr>
                  <td scope="row">{{ order.marke }}</td>
                  <td scope="row">{{ order.model }}</td>
                  <td scope="row">{{ order.Schadensart }}</td>
                  <td scope="row">{{ order.kosten }}</td>

                  <td>{{ order.telefon }}</td>
                  <td>{{ order.Adresszeile }} {{ order.Hausnummer }}, {{ order.Postleitzahl }}, {{ order.Stadt }}  </td>
                  <td>{{ order.Auftrag_status }}</td>
                  <td>{{ order.Zeit }}</td>
                  <td>
                    <form action="{% url 'myorder_download_invoice' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="Auftrag_id" id="Auftrag_id" value="{{order.id}}">
                        <div class="text-center"><button type="submit" class="btn btn-warning">Download Invoice</button></div>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
        </div>
        
    </div>
</section>

{% endblock content %}