{% autoescape off %}

📱 FixMeinHandy - Ihr Handy-Notdienst

Hallo {{first_name}} {{last_name}},

Vielen Dank für Ihre Bestellung auf unserer Webseite!

🔍 Bestelldetails:

Marke: {{marke}}
Modell: {{model}}
Schadensart: {{Schadensart}}
Gesamtbetrag: {{total_bill}}€
📌 Ihre Angaben:

Adresse: {{full_address}}
Telefon: {{phone}}
E-Mail: {{email}}
Wir haben Ihren Auftrag erhalten. Bitte nutzen Sie das Ihnen zugesandte Versandetikett, um uns Ihr Smartphone zuzusenden. Nach Erhalt werden wir uns umgehend um die Reparatur kümmern und Sie über den Fortschritt informieren.

Paket kann nur am Schalter bei der österreichischen Post abgegeben werden, nicht am Automaten!

Haben Sie Fragen oder benötigen Sie weitere Informationen zum Versand? Kontaktieren Sie uns:

📞 Telefon: +43 664 3727373
📧 E-Mail: office@handy-edv.at
Vielen Dank, dass Sie sich für FixMeinHandy entschieden haben. Wir freuen uns darauf, Ihnen zu helfen!

Mit freundlichen Grüßen,
Ihr FixMeinHandy-Team


{% endautoescape %}

